.vscode
node_modules
package-lock.json
package.json

assets/css/add-project.css
assets/css/administration.css
assets/css/edit-project.css

assets/js/add-project.js
assets/js/administration.js
assets/js/edit-project.js

pages/add-project.html
pages/administration.html
pages/edit-project.html
pages/edit-course.html

app.js